@import "../../components/Components.scss";

.blog-container{
    @extend .d-flex;
    width:100%;
    justify-content: space-between;
    align-items: flex-start;
   .article{
    width:calc(100% - 450px);
   } 
   .sidebar{
    width:420px;
   }
}

.widgets{
    width:100%;
    background-color:#f3f4f6;
    border-radius: 1.5rem;
    overflow: hidden;
    +.widgets{
        margin-top:1.75rem;
    }
    .widget-title{
        @extend .d-flex;
        justify-content: space-between;
        width:100%;
        padding: 1.25rem;
        border-bottom:1px solid;
        border-color: #e5e7eb;
        span{
            @extend .text-lg;
            font-weight: 600;
            color:#111827;
            &.view-all{
                color:#4338ca;
                @extend .text-sm;
                cursor: pointer;
            }
        }
    }
    .widget-content{        
        display:flex;
        flex-wrap: wrap;
        &.single{
            padding: 1.25rem;
        }
        .tags{
            padding-top: .625rem;
            padding-bottom: .625rem;
            padding-left: 1rem;
            padding-right: 1rem;
            margin-right: .5rem;
            margin-bottom: .5rem;
            background-color:#fff;
            border-radius: .5rem;
            color:#525252;
            span{
                font-size: .75rem;
                line-height: 1rem;
                font-weight: 400;
                margin-left:2px;
            }
        }
        .sort-content{
            @extend .d-flex;
            justify-content:flex-start;
            width:100%;
            padding: 1.25rem;
            +.sort-content{
                border-top:1px solid #e5e7eb;
            }
            &:hover{
                background-color:#e5e7eb;
                cursor:pointer;
            }
            .widget-thumb{
                width:48px;
                height:48px;
                @extend .d-flex;
                border-radius: .5rem;                
                overflow: hidden;
                &.left{
                    margin-right:1rem;
                }
                &.right{
                    margin-left:1rem;
                }
                img{
                    display: block;
                    width:100%;
                }
            }
            .topics-title{
                width:calc(100% - 48px + 1rem);
                .title{
                    @extend .text-base;
                    font-weight:600;
                    color:#111827;
                }
                .subtitle{
                    @extend .text-xs;
                    margin-top: 2px;
                    color:#6b7280;
                }                
            }
            .author-section{
                @extend .d-flex;
                justify-content:flex-start;
                margin-bottom: 0.5rem;
                .author-thumb-and-name{
                    @extend .d-flex;
                    justify-content:flex-start;
                    .author-img{
                        @extend .d-flex;
                        width:28px;
                        height:28px;
                        border-radius: 100%;
                        overflow:hidden;
                        img{
                            display:block;
                        }
                    }
                    .author-name{
                        font-weight: 500;
                        @extend .text-xs;
                        color: #374151;
                        margin-left: .5rem;
                    }
                }
                .spacer{
                    margin-left: 6px;
                    margin-right: 6px;
                    @extend .d-flex;
                    span{
                        width: 4px;
                        height: 4px;
                        border-radius: 4px;
                        background-color: #6b7280;
                        display:block;
                    }                    
                }
                .post-date{
                    color:#6b7280;
                    font-weight: 400;
                    @extend .text-xs;
                }
            }
        }
        &.posst{
            .topics-title{
                width:calc(100% - 80px + 1rem);
            }
            .widget-thumb{
                width:80px;
                height:80px;
                border-radius: .5rem;
                overflow: hidden;
                img{
                    display:block;
                    width:100%;
                }
            }
        }
    }
}